html {
	overflow-x: hidden;
	overflow-y: hidden;
}
select, textarea, option, button {
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
}
canvas {
	background-color: #f7f7f7;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: pink;
	padding: 0px;
	margin: 0px;
}
#box {
	display: grid;
	grid-template-columns: 1fr minmax(250px, 25%);
	/* grid-template-rows: 1fr auto; */
	width: 100%;
	height: 100%;
}
ul {
	list-style-type: none;
	margin: 0px;
	background-color: none;
	padding: 0px;
}
#panel {
	height: auto;
	overflow-x: auto;
	overflow-y: auto;
	background-color: #50565e;
	padding: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
select {
	background-color: #5f636b;
	margin: 0px 20px 10px 0px;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	padding: 10px;
	border-radius: 5px;
	border-width: 0px;
	color: #d4d5d6;
	outline: none;
}
textarea {
	background-color: #393b40;
	color: white;
	padding: 20px;
	border-radius: 5px;
	margin: 0px;
	height: auto;
	/* need to inherit the width of the parent */
	width: inherit;
	outline: none;
	border-width: 0px;
	resize: vertical;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

}
::-moz-selection { /* Code for Firefox */
  /* background: #9bbdac; */
	background: white;
	color: white;
}

::selection {
	/* background: #9bbdac; */
	background: white;
	color: white;
}
button {
	border: none;
	padding: 0.4em 0.6em;
	background-color: #9bbdac;
	border-radius: 5px;
	outline: none;
	color: #272b29;

	box-shadow: 0 4px #4a4d54;
	transform: translateY(0px);
}
button:hover {
	cursor: pointer;
}
button:active {
	top: 0.1em;
	box-shadow: 0 0px;
	transform: translateY(4px);
}
option {
	font-size: 14px;
	padding: 4px;
}
.w-wrap {
	padding: 0px;
	margin: 10px 20px 20px 0px;
	width: auto;
	height: auto;
}
